<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>
            <h2 class="login-title">Welcome to ProjectX</h2>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p class="login-subtitle">Sign in to continue to your account</p>

        <button mat-stroked-button color="primary" class="google-signin-btn" (click)="signInWithGoogle()">
            <img src="assets/google_logo.png" alt="Google logo" class="google-logo" />
            <span>Sign in with Google</span>
        </button>
    </mat-card-content>
</mat-card>